
.wrapper {
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
}

.home-song-section {
    text-align: center;
}

.container {
    background-image: url(./assets/cheering.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #e3e1dc;
}

.container h1 {
    color: black;
}

.container p {
    color: white;
}

.upload-container {
    margin: 2px;
    display: flex;
    justify-content: center;
}

.upload-text {
    text-align: center;
    margin: 4px;
}

select {
    margin: 0px 5px;
}

.genreList {
    text-align: center;
}

.genreList select {
    text-align: center;
    width: 40%;
    margin-bottom: 10px;
}

.listOfSongs {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 1px solid #000;
    text-align: center;
    background-color: whitesmoke;
}

.listOfSongs div {
    display: flex;
}

.listOfSongs h6 {
    position: relative;
    top: 15px;
    margin-left: 5px;
}

@media screen and (max-width: 992px) {
    .upload-container {
        display: flex;
        flex-direction: column;
    }

    .input-field-main {
        margin: 5px 0px;
    }

    .upload-button {
        margin: 5px 0px;
    }
  }